

{% block content %}
<div class="page-header">
   <h1>Change your password</h1>
</div>
	{% if form.non_field_errors %}
		<div class="error red-bg button rounded">User with password not found</div>
	{% endif %}
	
	<form  action='' method="post">
		{% csrf_token %}
		
		<div class="form-group  {% if form.old_password.errors %}has-error  has-feedback{% endif %}">
			<label class="control-label" for="id_old_password">Old password {% for e in form.old_password.errors %}&mdash; {{e}} {% endfor %}</label>
			<input type="password" class="form-control" autocomplete="off"  name="old_password" id="id_old_password" {% if form.old_password.errors %}aria-describedby="old_passwordStatus"{% endif %}>
			{% if form.old_password.errors %} <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  			 <span id="old_passwordStatus" class="sr-only">(error)</span>{% endif %}
		</div>
		
		<div class="form-group  {% if form.new_password1.errors %}has-error  has-feedback{% endif %}">
			<label class="control-label {% if form.new_password1.field.required %}required{% endif %}" for="id_new_password1">New password {% for e in form.new_password1.errors %}&mdash; {{e}} {% endfor %}</label>
			<input type="password" class="form-control"  autocomplete="off"  name="new_password1" id="id_new_password1" {% if form.new_password1.errors %}aria-describedby="new_passwordStatus"{% endif %}>
			{% if form.new_password1.errors %} <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  			 <span id="new_password1Status" class="sr-only">(error)</span>{% endif %}
		</div>
		
		<div class="form-group  {% if form.new_password2.errors %}has-error  has-feedback{% endif %}">
			<label class="control-label {% if form.new_password2.field.required %}required{% endif %}" for="id_new_password2">Confirm password {% for e in form.new_password2.errors %}&mdash; {{e}} {% endfor %}</label>
			<input type="password" class="form-control" autocomplete="off"  name="new_password2" id="id_new_password2" {% if form.new_password2.errors %}aria-describedby="new_password2Status"{% endif %}>
			{% if form.new_password2.errors %} <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  			 <span id="new_password2Status" class="sr-only">(error)</span>{% endif %}
		</div>
		
		<button type="submit" class="btn btn-default">Submit</button>
		
	</form>
	<hr/>
	<a href="javascript:history.back();" title="Cancel change password">&larr; Cancel</a>

</div>
	</div>
</div>
{% endblock %}