
{% block content %}
<div class="page-header">
   <h1>Forgotten password</h1>
</div>

<form action='' method="post">
	{% csrf_token %}
	
	<div class="form-group {% if form.email.errors %}has-error has-feedback{% endif %}">
		
		<label class="control-label {% if form.email.field.required %}required{% endif %}" for="id_email">Email address {% for e in form.email.errors %}&mdash; {{e}} {% endfor %}</label>
		
		<input type="email" class="form-control" id="id_email" name="email" placeholder="Enter email" maxlength="200"  value="{% if form.email.value %}{{form.email.value}}{% endif %}" {% if form.email.errors %}aria-describedby="emailStatus"{% endif %}>
		
		{% if form.email.errors %}
			<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			<span id="emailStatus" class="sr-only">(error)</span>
		{% endif %}
	</div>
	
	<button type="submit" class="btn btn-default">Submit</button>

</form>

{% endblock %}